<div class="bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-300 py-10">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col sm:flex-row sm:justify-between gap-8">
    
    <!-- {# PREMIER BLOC #} -->
    <div class="sm:flex-1">
      <!-- <h3 class="text-lg font-semibold mb-4 text-gray-500">Découvrez le co-living</h3> -->
      <nav class="flex flex-col space-y-2">
        <!-- <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Qu'est-ce que le co-living ?</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Les bienfaits écologiques</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Nos communautés à découvrir</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Collaborations entre pays</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Trouver ma prochaine destination</a> -->
      </nav>
    </div>

    <!-- {# DEUXIEME BLOC #} -->
    <div class="sm:flex-1">
      <!-- <h3 class="text-lg font-semibold mb-4 text-gray-500">À propos de nous</h3> -->
      <nav class="flex flex-col space-y-2">
        <!-- <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Notre histoire</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Blog</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Nous contacter</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Nous rejoindre</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Liens affiliés</a> -->
      </nav>
    </div>

    <!-- {# TROISIEME BLOC #} -->
    <div class="sm:flex-1">
      <h3 class="text-lg font-semibold mb-4 text-gray-500">Centre d'aide</h3>
      <nav class="flex flex-col space-y-2">
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Assistant IA</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Réservations</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Comment fonctionne le site</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Garantie</a>
      </nav>
    </div>

    <!-- {# QUATRIEME BLOC #} -->
    <div class="sm:flex-1">
      <h3 class="text-lg font-semibold mb-4 text-gray-500">Centre d'aide</h3>
      <nav class="flex flex-col space-y-2">
        <a [routerLink]="'/private-life'" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Vie privée et données</a>
        <a href="#" class="hover:text-blue-600 dark:hover:text-blue-400 cursor-pointer text-gray-500">Contacter de SAV</a>
      </nav>
    </div>
  </div>

</div>

<footer class="bg-white dark:bg-gray-900 border-t border-gray-900 dark:border-gray-700">
  <div class="max-w-screen-xl mx-auto px-4 py-4 flex flex-col sm:flex-row justify-between items-center text-sm text-gray-600 dark:text-gray-400">
    <div class="mb-3 sm:mb-0">
      © Chasse aux sorcières 2018-2025 - 
      <a href="#" class="underline hover:text-blue-600 dark:hover:text-blue-400">Termes et conditions</a>
    </div>
    <div class="flex space-x-4">
      <a href="#">
        Discord
      </a>
    </div>
  </div>
</footer>
