<!-- SECTION 1 -->
<section class=" min-h-screen pt-24" id="bgImage">
  <div
     class="max-w-screen-xl mx-auto h-full
           grid grid-cols-1 md:grid-cols-3
           px-6 mt-20"
  >
    <!-- Bloc 1 : Texte (gauche) -->
    <div class="flex flex-col justify-center gap-6">
      <h1 class="font-test text-4xl md:text-5xl font-extrabold text-gray-100">
        La chasse aux sorcières
      </h1>

      <p class="text-m text-gray-100 max-w-md font-test2">
        Rencontrez une communauté de passionnés avec des séances de jeu
        régulière, du jour au jour, de exemple heure à exemple heure.
      </p>

      <div>
        <button
          class="inline-flex items-center justify-center
                 px-6 py-3 rounded-lg
                 bg-blue-700 text-white font-medium
                 hover:bg-blue-800 transition"
        >
          Rejoins-nous
        </button>
      </div>
    </div>

    <!-- Bloc 2 : vide -->
    <div></div>

    <!-- Bloc 3 : vide -->
    <div></div>
  </div>
</section>


<!-- SECTION 2 : BLOC SOMBRE -->
<section class="bg-gray-900">
  <div class="max-w-screen-xl mx-auto py-8 px-6">
    <!-- Titre -->
    <h2 class="text-m font-bold text-white max-w-2xl">
      Seras-tu assez résistant pour survivre à la nuit ?
    </h2>

    <!-- Grille -->
    <div class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-12 justify-items-center">
      
      <!-- Bloc 1 -->
      <div class="flex flex-col gap-4">
        <!-- Image -->
        <div class="w-16 h-16 bg-gray-600"></div>

        <!-- Texte -->
        <div class="flex flex-col gap-2">
          <h3 class="text-m font-bold text-white">
            Capacité d'analyse
          </h3>

          <p class="text-gray-400 max-w-[14rem]">
            Selon ton rôle, tu devras détecter qui est qui, utiliser les bons
            pouvoirs au bon moment.
          </p>
        </div>
      </div>

      <!-- Bloc 2 -->
      <div class="flex flex-col gap-4">
        <div class="w-16 h-16 bg-gray-600"></div>

        <div class="flex flex-col gap-2">
          <h3 class="text-m font-bold text-white">
            Jeu d'acteur
          </h3>

          <p class="text-gray-400 max-w-[14rem]">
            Arriveras-tu à démêler le vrai du faux et à manipuler les débats
            quand nécessaire ?
          </p>
        </div>
      </div>

      <!-- Bloc 3 -->
      <div class="flex flex-col gap-4">
        <div class="w-16 h-16 bg-gray-600"></div>

        <div class="flex flex-col gap-2">
          <h3 class="text-m font-bold text-white">
            Immersion totale
          </h3>

          <p class="text-gray-400 max-w-[14rem]">
            Des parties intenses où chaque décision peut changer le destin
            du village.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>


