<!-- SECTION 1 : HERO SEGMENTÉ -->
<section class=" min-h-screen pt-24" id="bgImage">
  <!-- bg-gray-400 -->
  <div
     class="max-w-screen-xl mx-auto h-full
           grid grid-cols-1 md:grid-cols-3
           px-6 mt-20"
  >
    <!-- Bloc 1 : Texte (gauche) -->
    <div class="flex flex-col justify-center gap-6">
      <h1 class="font-title text-4xl md:text-5xl font-extrabold text-gray-100">
        La chasse aux sorcières
      </h1>

      <p class="text-lg text-gray-100 max-w-md font-detailUnderTitle">
        Rencontrez une communauté de passionnés avec des séances de jeu
        régulière, du jour au jour, de exemple heure à exemple heure.
      </p>

      <div>
        <button
          class="inline-flex items-center justify-center
                 px-6 py-3 rounded-lg
                 bg-blue-700 text-white font-medium
                 hover:bg-blue-800 transition font-detailUnderTitle"
        >
          Rejoins-nous
        </button>
      </div>
    </div>

    <!-- Bloc 2 : vide (zone image future) -->
    <div></div>

    <!-- Bloc 3 : vide (zone image future) -->
    <div></div>
  </div>
</section>


<!-- SECTION 2 : BLOC SOMBRE -->
<section class="bg-gray-900">
  <div
    class="max-w-screen-xl mx-auto
           py-24 px-6"
  >
    <h2 class="text-sm font-bold text-white max-w-2xl">
      Seras-tu assez résistant pour survivre à la nuit ?
    </h2>

    <!-- Contenu à venir -->
  </div>
</section>
