.marquee-track {
  display: flex;
  width: max-content;
  /* On permet au contenu de dépasser mais les masques z-20 cachent les bords */
}

.animate-marquee {
  animation: marquee 40s linear infinite; /* Ralenti un peu pour le côté "mystérieux" */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Optionnel : Adoucir le passage de la souris */
.marquee-track:hover .animate-marquee {
  animation-play-state: paused;
}

/* Ce masque crée un fondu transparent aux deux extrémités du bloc */
.mask-edge {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

img {
  transition: transform 0.5s ease;
}

.group:hover img {
  transform: scale(1.1);
}

/* ===== Scroll Reveal Animation ===== */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition:
    opacity 0.9s ease,
    transform 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
